# build
build
.cache

# VSCode
.vscode
*.code-workspace

# Emacs
*~

# helpful scripts, but helpful for me only
test.sh
rebuild.sh
recruit.sh
project_dump.sh
project_dump.txt

# Kernel files (web/kernel/*)
kernel.iso
kernel.elf
kernel.img
kernel.bin

# don't ask
deprecated
UNKNOWN_CHAR_RENDER).h
