# Project languages
*.c                     linguist-language=C
*.asm                   linguist-language=Assembly

# Project configurations and scripts
*.cmake                 linguist-language=CMake

# I don't want this in project statistic

# Third-party code