# build
build
build32
build64

binary32
binary64

# IDE
.cache

# VSCode
.vscode
*.code-workspace

# Emacs
*~

# local stuff
deprecated
hidden

qemu.log

# Kernel files (web/kernel/*)
kernel.elf
kernel.efi
kernel.iso
kernel.img
kernel.bin
